@import url("https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;800&display=swap");
@import url("http://fonts.cdnfonts.com/css/avenir-lt-std");
@import url("http://fonts.cdnfonts.com/css/product-sans");

.avenir-font {
  font-family: "Avenir LT Std", sans-serif;
}

.product-font {
  font-family: "Product Sans", sans-serif;
}

* {
  font-family: "Abhaya Libre", serif;
}

.card-hover:hover {
  transform: scale(1.1);
  box-shadow: 10px 10px 208px -29px rgba(255, 153, 0, 0.75);
  -webkit-box-shadow: 10px 10px 208px -29px rgba(255, 153, 0, 0.75);
  -moz-box-shadow: 10px 10px 208px -29px rgba(255, 153, 0, 0.75);
}
.card-hover {
  transition: transform 0.5s ease;
}

.pointer {
  cursor: pointer;
}

.image-partner {
  width: 53px;
}
/* color */
.text-red {
  color: #ff0742;
}
.text-green {
  color: #00d1ff;
}
.text-yellow {
  color: #ff9900;
}
.text-brown {
  color: #433434;
}

/* background */
.bg-red {
  background: #ff0742;
  color: #f2f2f2;
}
.bg-green {
  background: #00d1ff;
  color: #f2f2f2;
}
.bg-yellow {
  background: #ff9900;
  color: #f2f2f2;
}
.bg-brown {
  background: #433434;
  color: #f2f2f2;
}

body {
  background: #e5e5e5;
}

/* bakcground */
.yellow {
  background: #ffc700;
}

.btn-yellow {
  border: none !important;
  background: #ffc700;
  color: #433434;
}
.btn-yellow:hover {
  background: #a88400;
  border: none;
  color: #f2f2f2;
}
.btn-yellow:active {
  border: none;
  background: #d1a400;
}
.btn-yellow:focus {
  border: none;
  background: #d1a400;
}

.btn-cancel {
  padding: 0.2em 1em;
  border-radius: 5px;
  background: #ff0742;
  color: #f2f2f2;
  margin-right: 0.5em;
  margin-left: 1em;
  cursor: pointer;
}
.btn-cancel:hover {
  background: #d80536;
}
.btn-approve {
  padding: 0.2em 1em;
  border-radius: 5px;
  background: #0acf83;
  margin-right: 1em;
  color: #f2f2f2;
  cursor: pointer;
}
.btn-approve:hover {
  background: #069c63;
}
.resolve {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #0acf83;
  cursor: pointer;
}
.reject {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  cursor: pointer;
  background: #ff0742;
}

.fa-clock-o {
  font-size: 20px;
}
.success {
  color: #0acf83;
}
.cancel {
  color: #ff0742;
}
.otw {
  color: #00d1ff;
}
.waiting {
  color: #ff9900;
}

.grey {
  background: #e5e5e5;
}
.brown {
  background: #433434;
  border: none;
}
.brown:hover {
  background: #201919;
}
.brown:active {
  background: #362b2b;
}
.banner {
  background: #ffc700;
}

html {
  background: #e5e5e5;
}

.profile-photos {
  width: 10em;
}
.status-finished {
  background: #00ff481e;
  padding: 0.1em 2em;
  color: #00ff47;
}
.status-otw {
  background: #00c3ff1e;
  padding: 0.1em 2em;
  color: #00d9ff;
}

.status-failed {
  background: #ff00001e;
  padding: 0.1em 2em;
  color: #ff0000;
}

.input-text {
  border: 2px solid #433434;
  background: #d2d2d2 25%;
}
.input-text:focus {
  border: 2px solid #745959;
  background: #f0efef;
  box-shadow: none;
}

.input-form-login {
  border: 2px solid #acabab;
  background: #d2d2d2 25%;
}
.input-form-login:focus {
  border: 2px solid #acabab;
  background: #c3c2c2;
  box-shadow: none;
}

/* .title-product {
  height: 2em;
} */

.total-product {
  padding: 0.3em 1em;
  border-radius: 5px;
  margin: 0 1em 0 1em;
  background: #f6e6da;
}
.decrement {
  font-size: 2em;
}
.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 300px;
  border: 1em solid #ffffff;
  border-radius: 1em;
}

.sidebar {
  background-color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 10px;
  right: 10px;
  margin: 12px;
  border-radius: 4px;
  width: 350px;
}

.address-title {
  font-size: 14px;
}

.address-user {
  font-size: 12px;
}

.close-map {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  background: #ffffff;
  padding: 10px;
  cursor: pointer;
}

.dropdown-menu {
  margin-top: 30px !important;
  transform: translate(-165px);
  border: none;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 120px;
  border-width: 1em;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.icon-menu {
  width: 24px;
  margin-right: 0.4em;
}

.item-menu {
  border-bottom: 2px solid #959191;
}

.text-category {
  font-size: 23px;
  text-decoration: none;
}

.title-card {
  font-size: 18px;
}

.badge {
  transform: translate(-12px);
}

.avatar {
  width: 50px;
}

.badge {
  position: absolute;
}

.card-product {
  padding: 11px;
}

.card-price {
  font-size: 14px;
}

.cart-price {
  font-size: 14px;
}

.popular-text {
  margin: 59px 0 30px 0;
}

.restaurant-near-text {
  margin: 91px 0 30px 0;
}

.input-upload {
  padding: 3px 10px;
  border: 2px solid #433434;
  border-radius: 5px;
  width: 100%;
}

.hidden {
  display: none;
}

.attach-file {
  width: 18px;
}
.label-upload {
  padding-bottom: 0 !important;
}

td,
th {
  border: 1px solid #201919;
  font-family: "Avenir LT Std", sans-serif;
}
.table td {
  padding: 7px;
  vertical-align: middle;
}
.table th {
  padding: 3px;
}

thead {
  background: #e5e5e5;
}

.dropdown-item.active,
.dropdown-item:active {
  color: #f2f2f2;
  background: #433434;
}

.link-form:hover {
  color: #ffc700;
}

[type="button"] {
  outline: none !important;
  border: 1px solid #362b2b;
}
[type="button"]:hover {
  border: 1px solid #362b2b;
}

[type="button"]:active {
  background: #362b2b !important;
  box-shadow: none !important;
  border-color: #362b2b;
}
[type="button"]:focus {
  background: #362b2b !important;
  box-shadow: none;
  outline: none !important;
  border-color: #362b2b;
}

[type="submit"] {
  background: #362b2b !important;
  border-color: #362b2b;
}

[type="submit"]:active {
  border-color: none !important;
  box-shadow: none !important;
  border-color: #362b2b;
}

[type="submit"]:focus {
  border-color: #362b2b !important;
  background: #f0efef;
  box-shadow: none;
  outline: none !important;
}

.btn-default {
  border: 1px solid #362b2b;
}

.btn-default:hover {
  border: 1px solid #362b2b;
}

.btn-default:active {
  background: #362b2b !important;
  box-shadow: none !important;
  border-color: #362b2b;
}
.btn-default:focus {
  background: #362b2b !important;
  box-shadow: none;
  outline: none !important;
  border-color: #362b2b;
}

.map-container {
  height: 500px;
}

.modal-map {
  top: 0;
}
