/* font color */
.text-red {
  color: #ff0742;
}

/* bakcground */
.yellow {
  background: #ffc700;
}

.btn-yellow {
  border: none;
  background: #ffc700;
}
.btn-yellow:hover {
  background: #a88400;
  border: none;
}
.btn-yellow:active {
  border: none;
  background: #d1a400;
}
.btn-yellow:focus {
  border: none;
  background: #d1a400;
}

.btn-cancel {
  padding: 0.3em 2em;
  border-radius: 5px;
  background: #ff0742;
  color: #f2f2f2;
  margin-right: 0.5em;
  cursor: pointer;
}
.btn-cancel:hover {
  background: #d80536;
}
.btn-approve {
  padding: 0.3em 2em;
  border-radius: 5px;
  background: #0acf83;
  color: #f2f2f2;
  cursor: pointer;
}
.btn-approve:hover {
  background: #069c63;
}
.resolve {
  padding: 0.1em 0.35em;
  border-radius: 50%;
  background: #0acf83;
  cursor: pointer;
}
.reject {
  padding: 0.1em 0.35em;
  border-radius: 50%;
  cursor: pointer;
  background: #ff0742;
}
.success {
  color: #0acf83;
}
.cancel {
  color: #ff0742;
}
.otw {
  color: #00d1ff;
}
.waiting {
  color: #ff9900;
}

.text-yellow {
  color: #ffc700;
}
.grey {
  background: #e5e5e5;
}
.brown {
  background: #433434;
  border: none;
}
.brown:hover {
  background: #201919;
}
.brown:active {
  background: #362b2b;
}
.banner {
  background: #ffc700;
}

html {
  background: #e5e5e5;
}

.profile-photos {
  width: 10em;
}
.status-finished {
  background: #00ff481e;
  padding: 0.1em 2em;
  color: #00ff47;
}

.input-text {
  border: 2px solid #433434;
  background: #d2d2d2 25%;
}
.input-text:focus {
  border: 2px solid #745959;
  background: #f0efef;
  box-shadow: none;
}

.title-product {
  height: 2em;
}

.total-product {
  padding: 0.3em 1em;
  border-radius: 5px;
  margin: 0 1em 0 1em;
  background: #f6e6da;
}
.decrement {
  font-size: 2em;
}
.map-container {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 300px;
  border: 1em solid #ffffff;
  border-radius: 1em;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #ffffff;
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.dropdown-menu {
  margin-top: 30px !important;
  transform: translate(-165px);
  border: none;
}

.dropdown-menu::before {
  content: "";
  position: absolute;
  top: -30px;
  left: 120px;
  border-width: 1em;
  border-style: solid;
  border-color: transparent transparent #ffffff transparent;
}

.icon-menu {
  width: 24px;
  margin-right: 0.4em;
}

.item-menu {
  border-bottom: 2px solid #959191;
}
